---
---

@import "{{ site.theme }}";

header, footer {
  display: none !important;
}

section {
  width: unset !important;
  float: unset !important;
  border: unset !important;
  border-width: unset !important;
  padding: unset !important;
  margin: unset !important;
}

#productos td.precio {
  text-align: right;
}
#productos td.precio span.ceros {
  opacity:0;
}
#productos th.precio {
  width: 4em;
}
#productos span[title] {
    cursor: help;
}
